# 011. Pandas 를 이용한 시각화

## DataFrame.plot

In [1]:
# 모든 column 을 동시에 plot

In [2]:
# 특정 column 을 x 축, y 축으로 지정

- 2 차원 평면상의 3 차원 정보 plot

In [3]:
# Pandas 내장 시각화 기능 사용

In [4]:
# matplotlib 사용

In [5]:
# box plot

In [6]:
# histogram

가우스 커널을 사용하여 커널 밀도 추정 플롯 생성

## The Dataset: Immigration to Canada from 1980 to 2013 <a id="2"></a>

Dataset Source: [International migration flows to and from selected countries - The 2015 revision](http://www.un.org/en/development/desa/population/migration/data/empirical2/migrationflows.shtml).

이 데이터 세트에는 목적지 국가에서 기록한 국제 이민자의 흐름에 대한 연간 데이터가 포함되어 있습니다. 자료는 출생지, 시민권 또는 외국인과 국민 모두를위한 이전 / 다음 거주지에 따라 유입과 유출을 모두 나타냅니다. 현재 버전은 45 개국에 관한 데이터를 제공합니다.

이 실습에서는 캐나다 이민 데이터에 중점을 둘 것입니다.

In [10]:
# !pip install openpyxl

In [2]:
import pandas as pd
import matplotlib.patches as mpatches # needed for waffle Charts

df_can = pd.read_excel('data/Canada.xlsx', engine='openpyxl',
                       sheet_name='Canada by Citizenship',
                       skiprows=range(20),
                       skipfooter=2)
df_can.head(3)

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2012,2013,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2635,2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,620,603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3774,4331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# 데이터 세트를 정리하여 불필요한 열(예 : REG)을 제거

In [8]:
# 이해하기 쉽게 열 이름을 변경합니다.

In [9]:
# 일관성을 위해 모든 열 레이블을 문자열 유형으로 만듭니다.

In [10]:
# 국가 이름을 색인으로 설정하면 .loc 메소드를 사용하여 국가를 빠르게 찾는 데 유용합니다.

# 이 노트북에서 사용할 연도 - 나중에 플로팅하는 데 유용합니다.

In [11]:
# total column 추가

## Series or DataFrame 의 plotting

- X 축 : index value   

- Y 축 : 해당 index 의 value

- plot 의 kind

    * `line` (default)
    * `bar` : vertical bar plots
    * `barh` :  horizontal bar plots
    * `hist` : histogram
    * `box` : boxplot
    * `kde` or `density` : density plots
    * `area` : area plots
    * `pie` : pie plots
    * `scatter` : scatter plots
    * `hexbin` : hexbin plot

### Line Pots (Series/Dataframe)

- Haiti 의 연도별 이민자 수 시각화

### 다른 나라들 간의 이민자 수 비교를 위해 그래프에 더 많은 국가 추가 

- 1980 년부터 2013 년까지 인도와 중국 이민자 수를 비교

Step 1: China 와 India 를 dataframe 에서 따로 추출하여 plot 한다

* *pandas*는 x 축의 인덱스와 y 축의 개별 라인으로의 열을 그려준다. `df_ci`는`country`를 인덱스로,`years`를 컬럼으로하는 데이터 프레임이기 때문에 행과 열을 바꾸기 위해 먼저`transpose ()`메소드를 사용하여 데이터 프레임을 변경한다.

### 캐나다 이민에 가장 많은 기여를 한 상위 5 개국의 추세를 비교

- 상위 5 개의 인덱스 값을 정수형으로 변경하여 플로팅

## Histogram

- 발생 빈도 비교

In [12]:
# India 이민자 발생 빈도 비교

## Bar Chart

In [13]:
# Iceland

In [14]:
# bar chart

### 같은 plot 에 여러개의 histogram 겹쳐 그리기

### 1980 년부터 2013 년까지 Denmark, Norway, Sweden 의 Canada 이민자 분포

### 위의 plot 을 보기 좋게 조정

- np.histogram(array, bin) --> histogram 값, bin edge 반환

## Bar Chart + 주석 달기

- 그룹화된 범주형 변수의 크기를 표시

- kind='bar' : 세로막대  
- kind='barh' : 가로막대

### 가로막대 plot

- 가로로 표시할 경우 길이 제한을 받지 않아 더 실용적일 수 있음

## Waffle Chart 

- [PyWaffle](https://github.com/ligyxy/PyWaffle) 를 이용한 waffle chart plot  


- matplotlib.pyplot.figure 의 FigureClass parameter 로 지정   


- pip install pywaffle  로 설치


- 사용예
```
fig = plt.figure(
    FigureClass=Waffle, 
    rows=5, 
    columns=10, 
    values=[48, 46, 3]
)
```

In [44]:
# !pip install pywaffle

In [45]:
from pywaffle import Waffle

In [15]:
# Waffle Chart 작성을 위해 3 개국만으로 새로운 DataFrame 구성

**1 단계 :** 각 국가별 구성 비율 계산

**2 단계 :**  `waffle` chart 의 size (tile 갯수) 결정

**3단계:** 국가별 tile 수 결정