# 001. Python을 활용한 EDA(Exploratory Data Anlaysis)

# Data Files and Summary Statistics

- csv file 을 읽어서 각 record 가 dictionary 형태인 list 만들기
```
with open('data/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
```
  , manufacturer , model , displ , year , cyl , trans , drv , cty , hwy , fl , class   
 1 , audi , a4 ,1.8,1999,4, auto(l5) , f ,18,29, p , compact   
 2 , audi , a4 ,1.8,1999,4, manual(m5) , f ,21,29, p , compact   
 3 , audi , a4 ,2,2008,4, manual(m6) , f ,20,31, p , compact   


- displ : 배기량, class: 차량 종류

In [13]:
%precision 2  
import csv

with open('data/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
print("total record 수 : ", len(mpg))
print("첫번째 record : ", mpg[0])
print("첫번째 record의 시내 연비", mpg[0]['cty'])

total record 수 :  234
첫번째 record :  OrderedDict([('', '1'), ('manufacturer', 'audi'), ('model', 'a4'), ('displ', '1.8'), ('year', '1999'), ('cyl', '4'), ('trans', 'auto(l5)'), ('drv', 'f'), ('cty', '18'), ('hwy', '29'), ('fl', 'p'), ('class', 'compact')])
첫번째 record의 시내 연비 18

### csv 파일의 column 명 파악

In [7]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

### 연비 평균값 계산 

- 고속도로 연비가 시내 주행 연비보다 높을 것이라는 상식 확인

In [21]:
# 평균 시내 주행 연비
sum([float(row['cty']) for row in mpg]) / len(mpg)

16.86

In [22]:
# 평균 고속도로 연비
sum([float(row['hwy']) for row in mpg]) / len(mpg)

23.44

### Cylinder 수에 따른 시내 연비 계산 

- 기통 수가 올라갈 수록 연비가 떨어질 것이라는 상식 확인

- unique 한 cylinder 수 구하기. Python 의 set 자료형을 이용하여 중복 제거

In [23]:
cylinders = set(row['cyl'] for row in mpg)
cylinders

{'4', '5', '6', '8'}

- cylinder 수 별로 평균 시내주행 연비 dictionary 작성

In [18]:
ctyMpgByCyl = {}

for cyl in cylinders:
    sumMpg = 0
    count  = 0
    for row in mpg:
        if row['cyl'] == cyl:
            sumMpg += float(row['cty'])
            count += 1
    ctyMpgByCyl[cyl] = sumMpg / count
    
sorted(ctyMpgByCyl.items())

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

### 차량 type 에 따른 고속도로 연비 차이 파악

- unique 한 차량 종류 구하기. Python 의 set 자료형을 이용하여 중복 제거

In [24]:
car_classes = set([row['class'] for row in mpg])
car_classes

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

In [26]:
ctyMpgByClass = {}

for class_ in car_classes:
    sumMpg = 0
    count  = 0
    for row in mpg:
        if row['class'] == class_:
            sumMpg += float(row['hwy'])
            count += 1
    ctyMpgByClass[class_] = sumMpg / count
    
sorted(ctyMpgByClass.items(), key=lambda kv: kv[1])

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]

## Python 으로 Date, Time 표현하기

In [31]:
import datetime
import time 

time.time()

1634325245.50

- 현재 날자 + 시간 : datetime

In [32]:
now = datetime.datetime.now()
now

datetime.datetime(2021, 10, 16, 4, 14, 11, 235785)

In [29]:
now.year, now.month, now.day, now.hour, now.minute, now.second

(2021, 10, 16, 4, 13, 35)

### time delta

- 날자 기간 지정

In [33]:
delta = datetime.timedelta(days = 100)
delta

datetime.timedelta(days=100)

- 기간을 더한 날자 계산 : 오늘 날자 + delta

In [36]:
today = datetime.date.today()
today + delta

datetime.date(2022, 1, 24)

# Python 의 Regular Expression(정규식) 문법
- Python 은 정규식을 지원하는 re module 을 제공

#### 정규식 혹은 정규표현식은 특정한 규칙을 가진 문자열의 집단을 표현하는 방식이다.

- 특정한 규칙을 가진 문자열의 집합을 표현하는 데 사용하는 형식 언어

## 정규식의 기본 pattern 

- 패턴(pattern) - 특정 목적을 위해 필요한 문자열 집합을 지정하기 위해 쓰이는 식

### meta 문자

- meta 문자는 특수한 의미를 가지므로 위와 같이 자기 자체로 match 시키지 않는다.   
       . ^ $ * + ? { } [ ] \ | ( )
       
       
- special character 는 ``\``를 앞에 두면 된다. $\text{ex) \., \\\, \@, etc}$

### single character match

- ``a-z, A-Z, 0-9`` $\leftarrow$ 영문 대/소문자, 숫자는 자기 자체로 match 시킨다.

        ex) re.search(r'12g', 'p12g')  --> match='12g'

- ``.`` (period) 는 아무 문자(any character) 와도 match. (단, \n (new line) 제외)  


- ``\w`` 는 word character (a-z, A-Z, 0-9) 와 match. (single character)  

- ``\W`` - NOT ``\w``


- ``\b`` 는 word (``\w``) 와 non-word (``\W``) 의 boundary (position)


- ``\s`` 는 white space (space, new line, return, tab) 와 match. (single white space)
- ``\S`` 는 non-white space 


- ``\d`` 는 decimal digit (0-9) 와 match.
- ``\D`` - NOT ``\d``

### quantifier (나타나는 횟수)

- ``\*`` : 바로 앞 문자가 0 회 이상 나타남  

- ``\+`` : 바로 앞 문자가 1 회 이상 나타남  

- ``\?`` : 바로 앞 문자가 0 회 혹은 1 회 나타남 (optional)


### position


- ``^`` : string 의 처음을 의미, 

- ``$`` : string 의 끝을 의미한다.

- \[ \] 내의 ``^`` 는 NOT 의미, ex) [^A-Z] : A-Z 을 제외한 문자


### grouping
- `( )`

## 사용 method

- re.search(pattern, string) :	string에서 pattern과 매치하는 텍스트를 탐색한다 (처음 한개 매치)


- re.findall( ) : string 에서 pattern 과 match 되는 것을 전부 list 로 반환


- re.sub(pattern, repl, string) : string에서 pattern과 매치하는 텍스트를 repl로 치환한다

In [65]:
import re

str = 'an example word:cat!!'       

# word:xxx 의 pattern 탐색
match = re.search('word:\w\w\w', str)     
match

In [66]:
if match:
    print('found - ', match.group())
else:
    print('Not found')

found -  word:cat

In [67]:
match = re.search('iii', 'piiig')

match.group()

'iii'

In [68]:
match = re.search('igs', 'piiig')

type(match)

NoneType

In [69]:
match = re.search('..g', 'piiig')

match.group()

'iig'

In [70]:
match = re.search('\d\d\d', 'p123g')

match.group()

'123'

In [71]:
match = re.search('\w\w\w', '@@abcd!!')        
match.group()

'abc'

In [72]:
match = re.search('^bo', 'rebok')
match.group()

AttributeError: 'NoneType' object has no attribute 'group'

In [73]:
match = re.search('k$', 'book')

match.group()

'k'

### match 되는 pattern 의 반복 (Repetition)

- \+ $\rightarrow$ 1개 혹은 그 이상의 해당 pattern 이 왼쪽에 있음


- \* $\rightarrow$ 0 혹은 그 이상의 해당 pattern 이 왼쪽에 있음


- \? $\rightarrow$ 0 혹은 1 개의 해당 pattern 이 왼쪽에 있음

In [74]:
import re

match = re.search('pi*', 'pg')    

match.group()

'p'

In [75]:
match = re.search('i+', 'piigiiig')

match.group()

'ii'

- ``숫자 1 + white space 0 개 이상 + 숫자 1 + white space 0개 이상 + 숫자 1`` 의 pattern

In [76]:
pattern = '\d\s*\d\s*\d'

match = re.search(pattern, 'xx1 2    3xx')   

match.group()

'1 2    3'

In [77]:
match = re.search(pattern, 'xx12   3xx')    
match.group()

'12   3'

### 대괄호 ([  ])

- character set 을 표시한다. 예를 들어 ``[abc]`` 는 a, b, c 와 match 된다. 단, ``[ ]`` 내의 ``.`` 는 메타 문자가 아니라 실제 ``.`` 표시이다.   


- ``[]`` 는 character set 중의 한 개 글자를 의미 

    ```[0-9]``` : ``0~9`` 중 single digit  
    ```[0-9]+``` : ``0~9`` 중 한개 이상의 digit

In [78]:
str = 'Please send me email to young-jea.oh@citi.com \
        with your return address'
match = re.search('[\w.-]+@[\w.-]+', str)       #영수자로 시작하는 any 문자열 (-포함)

match.group()

'young-jea.oh@citi.com'

### Group 구분

matching text 를 여러 부분으로 구분할 때 사용

In [79]:
match = re.search('([\w.-]+)@([\w.-]+)', str)

In [80]:
print(match.group())
print(match.group(1))
print(match.group(2))

young-jea.oh@citi.com
young-jea.oh
citi.com

## 한글 처리

In [81]:
match = re.findall('[ㄱ-ㅎㅏ-ㅣ가-힣]+',
                "한글 regex 의 범위는 가-힣까지 입니다. From ㅏ TO ㅣ AND ㄱ ~ ㅎ")
match

['한글', '의', '범위는', '가', '힣까지', '입니다', 'ㅏ', 'ㅣ', 'ㄱ', 'ㅎ']

### 연습 문제

- 문서 내용 cleansing

In [82]:
f = open('data/AliceWonderLand.txt', 'r')

text = f.read()
text

"Alice's Adventures in Wonderland (commonly shortened to Alice in Wonderland) is an 1865 novel written by English author Charles Lutwidge Dodgson under the pseudonym Lewis Carroll.[1] It tells of a young girl named Alice falling through a rabbit hole into a fantasy world populated by peculiar, anthropomorphic creatures. The tale plays with logic, giving the story lasting popularity with adults as well as with children.[2] It is considered to be one of the best examples of the literary nonsense genre.[2][3] Its narrative course, structure, characters, and imagery have been enormously influential[3] in both popular culture and literature, especially in the fantasy genre."

In [83]:
text1 = re.sub('\[\d\]', '', text)
text1

"Alice's Adventures in Wonderland (commonly shortened to Alice in Wonderland) is an 1865 novel written by English author Charles Lutwidge Dodgson under the pseudonym Lewis Carroll. It tells of a young girl named Alice falling through a rabbit hole into a fantasy world populated by peculiar, anthropomorphic creatures. The tale plays with logic, giving the story lasting popularity with adults as well as with children. It is considered to be one of the best examples of the literary nonsense genre. Its narrative course, structure, characters, and imagery have been enormously influential in both popular culture and literature, especially in the fantasy genre."

In [84]:
text2 = re.sub('[^A-Za-z0-9 ]', '', text1)
text2

'Alices Adventures in Wonderland commonly shortened to Alice in Wonderland is an 1865 novel written by English author Charles Lutwidge Dodgson under the pseudonym Lewis Carroll It tells of a young girl named Alice falling through a rabbit hole into a fantasy world populated by peculiar anthropomorphic creatures The tale plays with logic giving the story lasting popularity with adults as well as with children It is considered to be one of the best examples of the literary nonsense genre Its narrative course structure characters and imagery have been enormously influential in both popular culture and literature especially in the fantasy genre'